@import url('https://fonts.googleapis.com/css?family=Lato|Wendy+One&display=swap');

 :root {
    --light-color: #feffdb; --dark-color: #444444; --heading-font: 'Wendy One', sans-serif; --p-font: 'Lato', sans-serif; --p-color: #ffc60b;
}

body {
    max-width: 980px;
    margin: auto;
}

.main-logo-img {
    height: 45px;
    width: auto;
    padding-right: 5px;
}

header .navbar {
    background-color: var(--dark-color);
    font-family: var(--heading-font);
    padding: 0 16px;
}

header nav .navbar-brand {
    color: var(--light-color);
    font-size: 1.75em;
}

header nav .navbar-toggler {
    color: var(--light-color);
}

header nav ul li a {
    color: var(--light-color);
    font-size: 1.5em;
}

header nav ul li a:hover {
    color: #ffc60b;
}

header #title {
    background-image: linear-gradient(to top left, #ffc60b 50%, #feffdb 50%);
    height: 500px;
    background-position: center;
    background-size: cover;
}

#title h1, #title h2 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    display: flex;
    text-shadow: 4px 9px 7px rgba(68,68,68,0.36);
}

#title .first-heading {
    justify-content: center;
    padding: 190px 0 0 190px;
    font-size: 1.3em;
    text-align: center;
}

#title .second-heading {
    justify-content: center;
    padding: 10px 0 10px 150px;
    font-size: 1.8em;
    text-align: center;
}

#title .third-heading {
    justify-content: center;
    font-size: 1.3em;
    text-align: center;
    padding-left: 130px;
}

@media(min-width: 400px) {
    #title .first-heading {
        padding: 250px 0 0 250px;
    }
}

@media (min-width: 600px) {
    #title .first-heading {
        padding: 30px 50px 0 100px;
        font-size: 1.8em;
    }

    #title .second-heading {
        justify-content: flex-end;
        padding: 100px 5px 100px 0;
        font-size: 2.1em;
    }

    #title .third-heading {
        font-size: 1.8em;
    }
}

@media (min-width: 900px) {
    #title .first-heading {
        padding: 50px 200px 0 200px;
        font-size: 2em;
    }

    #title .second-heading {
        padding: 100px 5px 100px 0;
        font-size: 2.3em;
    }

    #title .third-heading {
        font-size: 2.3em;
    }
}

#description {
    background-color: var(--light-color);
    padding: 60px 0 10px 0;
}

#description .box {
    width: 70%;
    height: auto;
    margin: auto;
    box-shadow: 0px 0px 8px 0px rgba(68,68,68,1);
    border-radius: 20px;
    margin-bottom: 50px;
}

#description .second-box {
    padding-bottom: 70px;
}

#description .third-box {
    padding-bottom: 30px;
}

#description .box h2 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    text-align: center;
    padding: 20px 0 15px 0;
}

#description .box p {
    font-family: var(--p-font);
    color: var(--p-color);
    text-align: justify;
    font-size: 1.4em;
    padding: 0 40px 60px 40px;
}

@media (min-width: 700px) {
    #description .box {
        height: 320px;
    }
}

@media (min-width: 900px) {
    #description .box {
        height: 280px;
    }
}

#garland-first-box {
    height: 50px;
    width: auto;
    position: absolute;
    right: 90px;
    bottom: 80px;
    transform: rotate(15deg);
}

@media (min-width: 720px) {
    #garland-first-box {
        height: 70px;
        right: 110px;
        bottom: 60px;
    }
}

@media (min-width: 900px) {
    #garland-first-box {
        height: 70px;
        right: 130px;
        bottom: 60px;
    }
}

@media (min-width: 1020px) {
    #garland-first-box {
        height: 70px;
        right: 180px;
        bottom: 60px;
    }
}
@media (min-width: 1120px) {
    #garland-first-box {
        height: 80px;
        right: 230px;
        bottom: 60px;
    }
}
/* #bear-right {
    height: 300px;
    width: auto;
}

#bear-left {
    height: 250px;
    width: auto;
}

#garland-second-box {
height: 200px;
width: auto;
}


