#bear-right {
    height: 300px;
    width: auto;
}

#bear-left {
    height: 250px;
    width: auto;
}

#garland-first-box {
height: 200px;
width: auto;
}

#garland-second-box {
height: 200px;
width: auto;
}