@import url('https://fonts.googleapis.com/css?family=Wendy+One&display=swap');

:root {

    --light-color: #feffdb;
    --dark-color: #444444;
    --heading-font:  'Wendy One', sans-serif;
}

body{
    max-width: 980px;
    margin: auto;
}

.main-logo-img {
    height: 45px;
    width: auto;
    padding-right: 5px;
}

header .navbar{
    background-color: var(--dark-color);
    font-family: var(--heading-font);
    padding: 0 16px;
}
header nav .navbar-brand {
      color: var(--light-color);
      font-size: 1.75em;
}

header nav .navbar-toggler{
      color: var(--light-color);
}
header nav ul li a{
        color: var(--light-color);
        font-size: 1.5em;
}


header #title {
    background-image: linear-gradient(to top left, red 50%, yellow 50%);

    height: 500px;

}




/* #bear-right {
    height: 300px;
    width: auto;
}

#bear-left {
    height: 250px;
    width: auto;
}

#garland-first-box {
height: 200px;
width: auto;
}

#garland-second-box {
height: 200px;
width: auto;
}
